#map {
	left:0;
	top:0;

	height:100%;
	width:100%;

	padding-top: 50px;
	position: absolute;
}


.map-container {
	// overflow:auto;
	// position:absolute;
	height:0;

	.btn-currentlocation {
			position: absolute;
			top: 85%;
			left: 85%;
			border-radius: 5px;
			// padding-top: 18px;
			box-shadow: 0.5px 1px 10px 0.01px #888888;


	}

	.row-slider{
		padding-top: 40%;
	}

	.icon-mylocation {
		content:  url(../../assets/my_location.svg);
		// position: absolute;
		// margin-top: 100px;
	}

}
