#map {
	max-width: 500px;
	height: 350px;
  margin-top: 100px;
	margin: 0 auto;
}

.map-holder {
	max-width: 500px;
	height: 350px;
	margin: 0 auto;
  margin-top: 80px;
	background-color: #FCFCFC;
	position: relative;
	border-radius: 2px;
}
