.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}
.navbar-brand{
    // position: absolute;
    left: 50%;
    margin-left: 100px;
    display: block;
}
.navbar {
    box-shadow: 0.5px 1px 10px 0.01px #888888;
}
